body {
   margin: 0;
   font-family: Arial, sans-serif;
   background: #ffffff;
   color: #222;
}

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px 60px;
   background: #ffffff;
}

.nav-links a, .nav-left a{
   margin-right: 25px;
   color: #333;
   font-weight: 500;
   text-decoration: none;
}

.nav-links a{
   padding: 0px;
}

.btn{
   background: rgb(21, 166, 250);
   color: #ffffff;
   padding: 10px 15px;
   border: none;
   border-radius: 10px;
}

.hero {
   text-align: center;
   padding: 120px 20px;
   background: #ffffff;
}

.hero h1 {
   font-size: 40px;
   margin-bottom: 10px;
}

.hero p {
   color: #666;
}

.search-box {
   margin-top: 30px;
}

.search-box input {
   width: 1100px;
   max-width: 90%;
   padding: 15px 20px;
   font-size: 16px;
   border-radius: 8px;
   border: 1px solid #dddddd;
   box-shadow: 0px 8px 25px rgba(0,0,0,0.3);
}

.projects {
   padding: 80px 0;
   display: flex;
   justify-content: center;
}

.projects .cont {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 80%;
   max-width: 1100px;
}

.projects .left {
   max-width: 550px;
   text-align: left;
}

.projects h2 {
   font-size: 32px;
   margin-bottom: 10px;
}

.projects p {
   color: #555555;
   line-height: 1.6;
}

.projects .right .btn{
   padding: 12px 25px;
   font-size: 16px;
   white-space: nowrap;
}

.doe{
   display: flex;
   justify-content: center;
   padding: 80px 20px;
}

.cd{
   background: #e5f1f3;
   padding: 40px;
   max-width: 1100px;
   height: 200px;
   display: flex;
   align-items: center;
   border-radius: 16px;
   gap: 25px;
}

.cd .person{
   width: 70px;
   height: 70px;
   border-radius: 50%;
   object-fit: cover;
}

.cd p{
   color: #555555;
   line-height: 1.6;
   margin-bottom: 10px;
}

.btn i{
   margin-right: 8px;
}